<!DOCTYPE html>
<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
        <title>For Example</title>
    </head>
    <body>
        <div class = "HorizonalFlex">
            {% for table in tables%}
            <form action="/query" method="post">
                <input style= "display: none;" id = "{{table}}" name = 'model' value = "{{table}}">
                <h4> <button type="submit">{{table}} </button></h4>
            </form>
            {% endfor %}
            <form action = '/main_query' method = 'post'>
                <h4><button>Main Query</button></h4>
            </form>
        </div>
        {% block query_params %}{% endblock %} 
        {% block query_result %}{% endblock %} 
    </body>
</html>